/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import url("//hello.myfonts.net/count/2d1133");
@import url("//hello.myfonts.net/count/2d07a4");
@import url("//hello.myfonts.net/count/2d1133");
/* line 4, /usr/local/Cellar/rbenv/0.4.0/versions/2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.1/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, /usr/local/Cellar/rbenv/0.4.0/versions/2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.1/app/assets/stylesheets/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 15, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
body {
  color: #000000;
  background-color: #f8f8f8;
}

@font-face {
  font-family: 'Nanami-Rounded-Bld';
  src: url(/assets/webfonts/2D07A4_3_0-2b50467d3633a63a416d5cad34fd8d2f.eot);
  src: url(/assets/webfonts/2D07A4_3_0-2b50467d3633a63a416d5cad34fd8d2f.eot?#iefix) format("embedded-opentype"), url("webfonts/2D07A4_3_0.woff2") format("woff2"), url("webfonts/2D07A4_3_0.woff") format("woff"), url("webfonts/2D07A4_3_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Nanami-Rounded-Lt';
  src: url(/assets/webfonts/2D07A4_9_0-42989437b09e1003fa07168878bc8412.eot);
  src: url(/assets/webfonts/2D07A4_9_0-42989437b09e1003fa07168878bc8412.eot?#iefix) format("embedded-opentype"), url("webfonts/2D07A4_9_0.woff2") format("woff2"), url("webfonts/2D07A4_9_0.woff") format("woff"), url("webfonts/2D07A4_9_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Nanami-Bold';
  src: url(/fonts/webfonts/2D1133_1_0.eot);
  src: url(/fonts/webfonts/2D1133_1_0.eot?#iefix) format("embedded-opentype"), url("webfonts/2D1133_1_0.woff2") format("woff2"), url("webfonts/2D1133_1_0.woff") format("woff"), url("webfonts/2D1133_1_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Nanami-Light';
  src: url(/fonts/webfonts/2D1133_A_0.eot);
  src: url(/fonts/webfonts/2D1133_A_0.eot?#iefix) format("embedded-opentype"), url("webfonts/2D1133_A_0.woff2") format("woff2"), url("webfonts/2D1133_A_0.woff") format("woff"), url("webfonts/2D1133_A_0.ttf") format("truetype");
}
/* line 52, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.light {
  font: 105% Nanami-Light, Nanami-Rounded-Lt, Helvetica, sans-serif;
  display: inline;
  letter-spacing: 2px;
}

/* line 58, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.bold {
  font: 105% Nanami-Bold, Nanami-Rounded-Bld, Helvetica, sans-serif, Nanami-Bold;
  display: inline;
  letter-spacing: 2px;
}

/* line 66, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.links {
  -webkit-appearance: none;
  appearance: none;
  margin-right: 10%;
  display: inline;
  user-select: none;
}

/* line 74, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.button {
  -webkit-appearance: none;
  text-decoration: none;
  appearance: none;
}

/* line 80, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 86, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.section-head {
  font-family: Nanami-Bold, Nanami-Rounded-Bld, Helvetica, sans-serif, bold;
  color: #000000;
  margin-left: 10%;
}

/* line 92, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.beers {
  font: 125% Nanami-Bold, Nanami-Rounded-Bld, Helvetica, sans-serif;
}

/* line 96, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.logo {
  width: 60%;
  position: block;
  margin-left: 20%;
  margin-top: 20px;
}

/* line 103, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.headlineone {
  font-family: Nanami-Bold, Nanami-Rounded-Bld, Helvetica, sans-serif, Nanami-Bold;
  font-weight: normal;
  font-style: normal;
  color: #bfbfbf;
  font-size: 16px;
  margin-left: 10%;
}

/* line 113, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.divider-horizontal {
  width: 80%;
  border: solid black 1px;
  margin-top: 12px;
}

/* line 119, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.bottom {
  bottom: 10px;
}

/* line 125, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.wishlist {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}
/* line 9, /usr/local/Cellar/rbenv/0.4.0/versions/2.2.0/lib/ruby/gems/2.2.0/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
.wishlist::after {
  clear: both;
  content: "";
  display: table;
}
/* line 130, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.wishlist td {
  display: inline;
  margin-left: 15px;
  padding: 10px;
  text-align: left;
}
/* line 137, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.wishlist tr {
  width: 33%;
}

/* line 143, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.wishlist-content {
  font: 100% Nanami-Light, Nanami-Rounded-Lt, Helvetica, sans-serif;
  width: 80%;
  background-color: white;
  padding: 10px;
  margin-left: 10%;
  margin-top: -10px;
}

/* line 152, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.table-labels {
  background-color: none;
}

/* line 158, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.reviewtable {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* line 9, /usr/local/Cellar/rbenv/0.4.0/versions/2.2.0/lib/ruby/gems/2.2.0/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
.reviewtable::after {
  clear: both;
  content: "";
  display: table;
}
/* line 161, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.reviewtable .review-container {
  margin-top: 20px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
/* line 87, /usr/local/Cellar/rbenv/0.4.0/versions/2.2.0/lib/ruby/gems/2.2.0/gems/neat-1.7.1/app/assets/stylesheets/grid/_span-columns.scss */
.reviewtable .review-container:last-child {
  margin-right: 0;
}

/* line 168, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.review {
  font-family: Nanami-Bold, Nanami-Rounded-Bld, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 100%;
  color: black;
  background-color: white;
  height: 400px;
  padding: 20px;
}

/* line 178, /Users/StudioMaupin/Dev/PROJECT02/kanpai-1/app/assets/stylesheets/beers.scss */
.divider-horizontal-two {
  width: 100%;
  border: solid black 1px;
  margin-top: 12px;
}
