// Place all the styles related to the beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// variables

$font-stack: Nanami-Bold, Helvetica, sans-serif,;
$font-book: Nanami-Book, Helvetica, sans-serif,;
$primary-color: #000000;
$background: #f5f5f5;
$font-light: Nanami-Light, Helvetica, sans-serif;

// global styles

body {
  color: $primary-color;
  background-color: $background;
}

// fonts

	// nanami

	@font-face {
		font-family: 'Nanami-Bold';
		src: url('webfonts/2D14BF_0_0.eot');
		src: url('webfonts/2D14BF_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D14BF_0_0.woff2') format('woff2'),url('webfonts/2D14BF_0_0.woff') format('woff'),url('webfonts/2D14BF_0_0.ttf') format('truetype');
	}
	 
	  
	@font-face {
		font-family: 'Nanami-Book';
		src: url('webfonts/2D14BF_1_0.eot');
		src: url('webfonts/2D14BF_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D14BF_1_0.woff2') format('woff2'),url('webfonts/2D14BF_1_0.woff') format('woff'),url('webfonts/2D14BF_1_0.ttf') format('truetype');
	}
	 
	  
	@font-face {
		font-family: 'Nanami-Light';
		src: url('webfonts/2D14BF_2_0.eot');
		src: url('webfonts/2D14BF_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D14BF_2_0.woff2') format('woff2'),url('webfonts/2D14BF_2_0.woff') format('woff'),url('webfonts/2D14BF_2_0.ttf') format('truetype');
	}


// typography

.l1 {
	font: 80% $font-light;
	letter-spacing: 1px;
}

.l2 {
	font: 80% $font-book;
	letter-spacing: 2px;
}

.b1 {
	font: 80% $font-stack, Nanami-Bold;
	letter-spacing: 2px;
	color: black;
}

.b2 {
	font: 90% $font-stack, Nanami-Bold;
	letter-spacing: 1px;
}

.b3 {
	font: 100% $font-stack;
	letter-spacing: 2px;
}

.b4 {
	font: 175% $font-stack;
}

.image-link {
	text-align: center;
	margin-top: 58%;
}

// global styles

.links {
	-webkit-appearance: none;
	text-decoration: none;
	appearance: none;
	margin-right: 10%;
	display: inline;
	user-select: none;
}

.button {
	-webkit-appearance: none;
	text-decoration: none;
	appearance: none;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-head {
	font: 95% $font-stack;
	color: #000000;
	margin-left: 10%;
	letter-spacing: 1px;

}

// specific styles

.logo {
	width: 20%;
	position: block;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 20px;
	margin-bottom: -30px;
}

.login {
	color: #bfbfbf;
	float: right;
	margin-right: 10%;
}

.beta {
	color: #bfbfbf;
	float: left;
	margin-left: 10%;
}

.divider-horizontal {
	width: 80%;
	border: solid black 1px;
	margin-top: 12px;
}

// wishlist

.wishlist-new {
	@include outer-container(80%);
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;

	.wishlist-title {
		@include span-columns(3);
  	@include omega();
		height: 20px;
		margin-left: 10px;
		border-bottom: 1px solid #000000;
		margin-bottom: 1px;
	}

	.wishlist-text {
		@include span-columns(3);
  	@include omega();
		height: 20px;
		margin-left: 10px;
		border-bottom: 1px solid #e6e6e6;
		line-height: 0px;
		margin-top: 2px;
	}

	.wishlist-btn-title {
		@include span-columns(1);
  	@include omega();
		height: 20px;
		margin-left: 10px;
		border-bottom: 1px solid #000000;
		text-align: right;
	}

	.wishlist-btn {
		@include span-columns(1);
  	@include omega();
		height: 20px;
		margin-left: 10px;
		text-align: right;
	}

}

// forms

.form-one {
	@include outer-container(80%);
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;

	.form-input {
		@include span-columns(12);
		@include omega(4n);
		margin-bottom: 1px;
		margin-left: 10px;
	}

}

	.form-btn {
		float: right;
		margin-right: 10%;	
		margin-bottom: 10px;
	}

.form-two {

	@include outer-container(80%);
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;

		.form-input-two {
		@include span-columns(10);
		@include omega(4n);
		margin-bottom: 1px;
		margin-left: 10px;
	}

}

// reviews

.reviewtable {
	@include outer-container(80%);

	.review-container {
		@include span-columns(4);
		@include omega(3n);
		margin-top: 20px;
	
		.beers {
			font: 100% $font-stack;
			border-bottom: 1px solid #e6e6e6;
			margin-bottom: 0px;
			padding-bottom: 12px;
		}
	}
}

.review {
	font-family	: $font-stack;
	letter-spacing: 2px;
	font-size: 100%;
	color: black;
	background-color: white;
	height: 370px;
	padding: 20px;
}

// show

.showtable {
	@include outer-container(80%);

	.view {
		@include span-columns(4);
		margin-top: 20px;
		font-family	: $font-stack;
		letter-spacing: 2px;
		font-size: 100%;
		color: black;
		background-color: white;
		height: 400px;
		padding: 20px;
	}

	.image-container {
		@include span-columns(4);
		@include omega();
		background-color: #ffffff;
		margin-top: 20px;
		margin-right: 20px;
		height: 400px;
	}

	.taste-container {
		@include span-columns(4);
		@include omega();
		background-color: #ffffff;
		margin-top: 20px;
		height: 400px;
		
	.chart {
		text-align: center;
		}

	}
}



