// Place all the styles related to the beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// variables

$font-stack: Nanami-Bold, Nanami-Rounded-Bld, Helvetica, sans-serif;
$primary-color: #000000;
$bakground: #f8f8f8;
$font-light: Nanami-Light, Nanami-Rounded-Lt, Helvetica, sans-serif;
$grid-columns: 12 !default;

// global styles

body {
  color: $primary-color;
  background-color: $bakground;
}

// fonts

@import url("//hello.myfonts.net/count/2d07a4");

@font-face {
	font-family: 'Nanami-Rounded-Bld';
	src: font-url('webfonts/2D07A4_3_0.eot');
	src: font-url('webfonts/2D07A4_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D07A4_3_0.woff2') format('woff2'),url('webfonts/2D07A4_3_0.woff') format('woff'),url('webfonts/2D07A4_3_0.ttf') format('truetype');
}

@font-face {
	font-family: 'Nanami-Rounded-Lt';
	src: font-url('webfonts/2D07A4_9_0.eot');
	src: font-url('webfonts/2D07A4_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D07A4_9_0.woff2') format('woff2'),url('webfonts/2D07A4_9_0.woff') format('woff'),url('webfonts/2D07A4_9_0.ttf') format('truetype');
}

@import url("//hello.myfonts.net/count/2d1133");

  
@font-face {font-family: 'Nanami-Bold';
	src: font-url('webfonts/2D1133_1_0.eot');
	src: font-url('webfonts/2D1133_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D1133_1_0.woff2') format('woff2'),url('webfonts/2D1133_1_0.woff') format('woff'),url('webfonts/2D1133_1_0.ttf') format('truetype');
}
  
@font-face {
	font-family: 'Nanami-Light';
	src: font-url('webfonts/2D1133_A_0.eot');
	src: font-url('webfonts/2D1133_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D1133_A_0.woff2') format('woff2'),url('webfonts/2D1133_A_0.woff') format('woff'),url('webfonts/2D1133_A_0.ttf') format('truetype');
}

// Typography

.l1 {
	font: 105% $font-light;
	display: inline;
	letter-spacing: 2px;
}

.b1 {
	font: 105% $font-stack, Nanami-Bold;
	display: inline;
	letter-spacing: 2px;
}

// Global Styles

.links {
	-webkit-appearance: none;
	appearance: none;
	margin-right: 10%;
	display: inline;
	user-select: none;
}

.button {
	-webkit-appearance: none;
	text-decoration: none;
	appearance: none;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-head {
	font-family: $font-stack, bold;
	color: #000000;
	margin-left: 10%;
}

.beers {
	font: 125% $font-stack;
}

.logo {
	width: 60%;
	position: block;
	margin-left: 20%;
	margin-top: 20px;
}

.headlineone {
	font-family: $font-stack ,Nanami-Bold;
	font-weight: normal;
	font-style: normal;
	color: #bfbfbf;
	font-size: 16px;
	margin-left: 10%;

}

.divider-horizontal {
	width: 80%;
	border: solid black 1px;
	margin-top: 12px;
}

.bottom {
	bottom: 10px;
}

// wishlist

.wishlist {

	@include outer-container(100%);
	padding-top: 5px;

	td {
		display: inline;
		margin-left: 15px;
		padding: 10px;
		text-align: left;
	}

	tr {
		width: 33%;
	}

}

.wishlist-content {
	font: 100% $font-light;
	width: 80%;
	background-color: white;
	padding: 10px;
	margin-left: 10%;
	margin-top: -10px;
}

.table-labels {
	background-color: none;
}

// reviews

.reviewtable {
	@include outer-container(80%);

	.review-container {
		margin-top: 20px;
		@include span-columns(4);
	}

}

.review {
	font-family: $font-stack;
	letter-spacing: 2px;
	font-size: 100%;
	color: black;
	background-color: white;
	height: 400px;
	padding: 20px;
}

.divider-horizontal-two {
	width: 100%;
	border: solid black 1px;
	margin-top: 12px;
}


